<section class="h-fit">
  <div class="fluid-container">
    <div class="content">
      <span class="title">
        Outils essentiels pour une gestion financière simplifiée
      </span>
      <div class="utils">
        <div class="block">
          <div class="utility bg-[#70e00031]">
            <img src="logo_white.svg" alt="" class="logo" />
            <span class="name"
              >Gestion de plusieurs comptes <br />
              bancaires</span
            >
            <p class="text">
              Gérez facilement tous vos comptes bancaires en un seul endroit.
              Notre plateforme vous permet de relier plusieurs comptes dans
              différentes banques, ce qui vous donne une vue d'ensemble de vos
              finances. Suivez vos soldes, surveillez vos transactions et gérez
              vos virements en toute transparence, le tout à partir d'un tableau
              de bord unique et intuitif.
            </p>
            <div class="labels">
              <div
                class="label sm:right-[60px] right-[80px] bottom-[90px]"
                id="activity"
              >
                <img src="clock.svg" alt="" />
                <span>Activités du compte</span>
              </div>
              <div class="label sm:bottom-[70px] bottom-[35px]">
                <img src="transaction.svg" alt="" id="transaction" />
                <span>Transactions sur les comptes</span>
              </div>
            </div>
            <img
              src="scale.png"
              alt=""
              class="absolute bottom-0 right-0 sm:w-[238px] w-[95px]"
            />
          </div>
        </div>
        <div class="block">
          <div class="utility bg-[#E0BE0031]">
            <img src="logo_white.svg" alt="" class="logo" />
            <span class="name">Objectifs et plans d'épargne</span>
            <p class="text">
              Atteignez vos objectifs financiers grâce à notre fonctionnalité
              d'objectifs et plans d'épargne. Fixez des cibles claires, comme un
              voyage, un achat important ou un fonds d’urgence, et suivez vos
              progrès en temps réel. Notre plateforme vous aide à planifier vos
              économies, à automatiser vos dépôts et à rester motivé avec des
              notifications et des rapports détaillés. Simplifiez votre chemin
              vers une meilleure gestion financière et réalisez vos rêves plus
              rapidement.
            </p>
            <div class="labels">
              <div class="label sm:bottom-[70px] bottom-[15px]">
                <img src="objective.svg" alt="" id="transaction" />
                <span>But et objectif</span>
              </div>
            </div>
            <img
              src="epargne.png"
              alt=""
              class="absolute sm:bottom-[110px] sm:right-[20px] bottom-[35px] w-[212.76px] right-[12px]"
            />
          </div>
        </div>
        <div class="block">
          <div class="utility bg-[#0074E031]">
            <img src="logo_white.svg" alt="" class="logo" />
            <span class="name">Suivi des paiements récurrents</span>
            <p class="text">
              Gérez facilement vos abonnements et paiements récurrents grâce à
              notre suivi dédié. Identifiez vos dépenses régulières en un coup
              d'œil, comme les abonnements streaming, les factures et autres
              paiements automatiques. Recevez des rappels avant chaque
              prélèvement et gardez le contrôle sur vos sorties d'argent. Ne
              laissez plus de frais passer inaperçus et optimisez vos finances
              en évitant les dépenses inattendues.
            </p>
            <div class="labels">
              <div class="label right-[20px]" id="activity">
                <img src="payment.svg" alt="" />
                <span>Paiment réccurents </span>
              </div>
            </div>
            <img
              src="table.png"
              alt=""
              class="absolute bottom-[10px] left-[20px] w-[135px] sm:w-[286px]"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
