<section>
  <div class="fluid-container">
    <div class="content">
      <span class="title">
        Outils essentiels pour une gestion <br />
        financière simplifiée
      </span>
      <p class="description">
        Accédez à une interface intuitive pour une maîtrise <br />
        totale de vos finances
      </p>
      <div class="utils">
        <div class="utility bg-[#70e00031]">
          <img src="logo_white.svg" alt="" />
          <span class="name"
            >Gestion de plusieurs comptes <br />
            bancaires</span
          >
          <p class="text">
            Gérez facilement tous vos comptes bancaires en un seul endroit.
            Notre plateforme vous permet de relier plusieurs comptes dans
            différentes banques, ce qui vous donne une vue d'ensemble de vos
            finances. Suivez vos soldes, surveillez vos transactions et gérez
            vos virements en toute transparence, le tout à partir d'un tableau
            de bord unique et intuitif.
          </p>
          <div class="labels">
            <div class="label right-[60px]" id="activity">
              <img src="clock.svg" alt="" />
              <span>Activités du compte</span>
            </div>
            <div class="label bottom-[70px]">
              <img src="transaction.svg" alt="" id="transaction" />
              <span>Transactions sur les comptes</span>
            </div>
          </div>
          <img src="scale.png" alt="" class="absolute bottom-0 right-0" />
        </div>
        <div class="utility bg-[#E0BE0031]">
          <img src="logo_white.svg" alt="" />
          <span class="name"
            >Gestion de plusieurs comptes <br />
            bancaires</span
          >
          <p class="text">
            Gérez facilement tous vos comptes bancaires en un seul endroit.
            Notre plateforme vous permet de relier plusieurs comptes dans
            différentes banques, ce qui vous donne une vue d'ensemble de vos
            finances. Suivez vos soldes, surveillez vos transactions et gérez
            vos virements en toute transparence, le tout à partir d'un tableau
            de bord unique et intuitif.
          </p>
          <div class="labels">
            <div class="label right-[60px]" id="activity">
              <img src="clock.svg" alt="" />
              <span>Activités du compte</span>
            </div>
            <div class="label bottom-[70px]">
              <img src="transaction.svg" alt="" id="transaction" />
              <span>Transactions sur les comptes</span>
            </div>
          </div>
          <img src="scale.png" alt="" class="absolute bottom-0 right-0" />
        </div>
        <div class="utility bg-[#0074E031]">
          <img src="logo_white.svg" alt="" />
          <span class="name"
            >Gestion de plusieurs comptes <br />
            bancaires</span
          >
          <p class="text">
            Gérez facilement tous vos comptes bancaires en un seul endroit.
            Notre plateforme vous permet de relier plusieurs comptes dans
            différentes banques, ce qui vous donne une vue d'ensemble de vos
            finances. Suivez vos soldes, surveillez vos transactions et gérez
            vos virements en toute transparence, le tout à partir d'un tableau
            de bord unique et intuitif.
          </p>
          <div class="labels">
            <div class="label right-[60px]" id="activity">
              <img src="clock.svg" alt="" />
              <span>Activités du compte</span>
            </div>
            <div class="label bottom-[70px]">
              <img src="transaction.svg" alt="" id="transaction" />
              <span>Transactions sur les comptes</span>
            </div>
          </div>
          <img src="scale.png" alt="" class="absolute bottom-0 right-0" />
        </div>
      </div>
    </div>
  </div>
</section>
