<section>
  <div class="fluid-container">
    <div class="content">
      <span class="title">
        Des plans flexibles pour chaque <br />
        utilisateur
      </span>
      <p class="description">
        Choisissez parmi une gamme de plans adaptés à vos besoins. Que vous
        soyez un utilisateur individuel ou une entreprise, nos options flexibles
        vous permettent d’accéder aux fonctionnalités essentielles pour une
        gestion financière optimale. Bénéficiez d’une tarification transparente
        et ajustée à votre utilisation, sans compromis sur la qualité.
      </p>
      <div class="plans">
        <div class="plan">
          <div class="icon">
            <img src="send.svg" alt="" />
          </div>
          <span class="name">Plan Basic</span>
          <p class="but">parfait pour les particuliers</p>
          <span class="status">free</span>

          <ul class="list">
            <li class="item">
              <img src="check.svg" alt="" />Gérer plusieurs comptes
            </li>
            <li class="item">
              <img src="check.svg" alt="" />Suivi les trannsactions
            </li>
            <li class="item">
              <img src="check.svg" alt="" />Suivi les activités de compte
            </li>
          </ul>
          <button
            class="bg-[#f8f8f8] text-[#b8b8b8] text-[27px] w-[554px] h-[60px] rounded-[30px] mt-[50px]"
          >
            Commencer
          </button>
        </div>
        <div class="plan">
          <div class="icon">
            <img src="rocket.svg" alt="" />
          </div>
          <span class="name">Plan Pro</span>
          <p class="but">parfait pour les entreprises</p>
          <span class="status">$3.99 <span>/mois</span></span>
          <ul class="list">
            <li class="item">
              <img src="check.svg" alt="" />Tout en plan Basic
            </li>
            <li class="item">
              <img src="check.svg" alt="" />Gérer les projects
            </li>
            <li class="item"><img src="check.svg" alt="" />Gérer les taches</li>
          </ul>
          <button
            class="bg-[#70E000] text-[white] text-[27px] w-[554px] h-[60px] rounded-[30px] mt-[50px]"
          >
            mettre à niveau maintenant
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
