<section>
  <div class="fluid-container">
    <div class="content">
      <span class="title">
        Des fonctions puissantes pour améliorer <br />
        la gestion de vos finances
      </span>
      <div class="image">
        <img src="pc.png" alt="" />
        <div class="cover"></div>
      </div>
      <div class="functionalities">
        <div class="function border-[#DDDDDD] border-[1px]">
          <div class="icon">
            <img src="setting.svg" alt="" />
          </div>
          <span class="name">Gestion plusieur compte</span>
          <p class="description">
            Centralisez vos finances en connectant tous vos comptes bancaires
            sur une seule plateforme.
          </p>
        </div>
        <div class="function bg-[#0074E010] border-[#0074E050] border-[1px]">
          <div class="icon">
            <img src="goal.svg" alt="" />
          </div>
          <span class="name">Mettre votre objectif</span>
          <p class="description">
            Centralisez vos finances en connectant tous vos comptes bancaires
            sur une seule plateforme.
          </p>
        </div>
        <div class="function border-[#DDDDDD] border-[1px]">
          <div class="icon">
            <img src="dollar.svg" alt="" />
          </div>
          <span class="name">Suivi les virements</span>
          <p class="description">
            Gardez un œil sur tous vos virements en un seul endroit. Suivez
            l'historique de vos transferts, vérifiez leur statut en temps réel
          </p>
        </div>
        <div class="function border-[#DDDDDD] border-[1px]">
          <div class="icon">
            <img src="graphique.svg" alt="" />
          </div>
          <span class="name">Suivi d'activité du compte</span>
          <p class="description">
            Visualisez l'évolution de vos finances avec des graphiques clairs et
            interactifs. Analysez vos dépenses
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
