<footer class="mt-[200px]">
  <div class="fluid-container">
    <div class="content">
      <div
        class="flex justify-between border-b-[1px] border-b-[#f8f8f8] pb-[50px]"
      >
        <div class="flex flex-col">
          <span class="text-[22px] font-medium"
            >Rjoignez notre lettre d'information
          </span>
          <span class="text-[22px] font-medium text-[#b8b8b8]">
            Recever nox mises à jour hebdomadaires
          </span>
        </div>
        <div class="flex gap-[20px]">
          <input
            type="email"
            placeholder="Entrer votre Email"
            class="w-[404px] h-[69px] border-[1px] border-[#DDDDD] rounded-[10px] ps-[30px] placeholder:text-[22px]"
          />
          <button
            class="w-[162px] h-[69px] font-medium text-[22px] bg-[#f1c40f] text-white rounded-[10px]"
          >
            Subscribe
          </button>
        </div>
      </div>
      <div class="flex justify-between mt-[50px] mb-[25px]">
        <div class="flex flex-start flex-col gap-[20px]">
          <div class="flex items-center">
            <img src="logo.svg" alt="" />
            <span class="text-[24px] font-semibold">ThrowJar</span>
          </div>
          <div class="flex flex-col">
            <span class="text-[22px] font-semibold">Address</span>
            <span class="text-[20px] text-[#b8b8b8] capitalize"
              >étage 3, 134 avenue hedi chekir, sfax Tunisie</span
            >
          </div>
          <div class="flex flex-col">
            <span class="text-[22px] font-semibold">Contact</span>
            <span class="text-[20px] text-[#b8b8b8] underline"
              >+216 22 648 844</span
            >
            <span class="text-[20px] text-[#b8b8b8] underline"
              >support&#64;throwjar.com</span
            >
          </div>
          <div class="flex gap-4">
            <img src="facebook.svg" alt="" />
            <img src="instagram.svg" alt="" />
            <img src="twitter.svg" alt="" />
          </div>
        </div>
        <div class="flex items-start gap-[152px]">
          <div class="flex flex-col flex-start">
            <span class="font-semibold capitalize text-[24px]"
              >map de site</span
            >
            <ul
              class="flex flex-col gap-[25px] text-[20px] mt-[10px] text-[#b8b8b8]"
            >
              <li class="capitalize">home</li>
              <li class="capitalize">caractéristique</li>
              <li class="capitalize">tarification</li>
              <li class="capitalize">blog</li>
              <li class="capitalize">contact</li>
            </ul>
          </div>
          <div class="flex flex-col flex-start">
            <span class="font-semibold capitalize text-[24px]">entreprise</span>
            <ul
              class="flex flex-col gap-[25px] text-[20px] mt-[10px] text-[#b8b8b8]"
            >
              <li class="capitalize">à propre de nous</li>
              <li class="capitalize">carrière</li>
              <li class="capitalize">contacter nous</li>
              <li class="capitalize">blog</li>
            </ul>
          </div>
        </div>
      </div>
      <div
        class="flex justify-between py-[25px] border-t-[1px] border-t[#f8f8f8 ]"
      >
        <span class="text-[22px] font-medium"
          >© 2024 ThrowJar. All rights reserved.</span
        >
        <div class="flex items-center font-medium gap-[65px]">
          <span class="text-[18px] capitalize text-[#b8b8b8]"
            >privacy policy</span
          >
          <span class="text-[18px] capitalize text-[#b8b8b8]"
            >Terms of service</span
          >
          <span class="text-[18px] capitalize text-[#b8b8b8]"
            >Cookies Settings</span
          >
        </div>
      </div>
    </div>
  </div>
</footer>
