<section class="">
  <div class="fluid-container overflow-hidden">
    <div class="content">
      <span class="title"> Ce que disent no utilisateur </span>
      <p class="description">
        Découvrez les témoignages de nos utilisateurs satisfaits ! Ils partagent
        leurs expériences et expliquent comment notre plateforme les a aidés à
        simplifier la gestion de leurs finances, atteindre leurs objectifs
        d'épargne et gagner en tranquillité d'esprit. Rejoignez une communauté
        qui fait confiance à nos outils pour optimiser leur quotidien.
      </p>
      <div class="relative">
        <div
          class="flex items-start w-[1196px] h-[425px] border-[1px] border-[#FF1D9950] rounded-[10px] p-[40px] relative gap-[20px] z-10 bg-[white]"
        >
          <div class="flex items-start flex-col gap-[8px]">
            <img src="girl.png" alt="" />
            <span class="text-[27px] font-semibold">Sarah Thompson</span>
            <span class="text-[22px] text-[#B8B8B8]">Microsoft Employee</span>
            <img src="stars.svg" />
          </div>
          <div
            class="relative w-[740px] h-[317px] bg-[#f4f4f4] flex items-center justify-center px-[50px]"
          >
            <p class="text-[20px] font-medium">
              Grâce à cette plateforme, la gestion de mes finances est devenue
              incroyablement simple ! J'ai une vision claire de tous mes
              comptes, et les outils d'analyse m'aident à mieux planifier mes
              dépenses. Je recommande vivement à quiconque cherche à optimiser
              ses finances !
            </p>
            <img
              src="polygon.svg"
              alt=""
              srcset=""
              class="absolute top-0 left-[-45px]"
            />
          </div>
          <img
            src="comma.svg"
            alt=""
            class="absolute bottom-[30px] right-[20px]"
          />
        </div>
        <div
          class="flex items-start bg-[white] blur-[4.81px] w-[575px] h-[213px] border-[1px] border-[#FF1D9950] rounded-[10px] p-[40px] absolute left-[-430px] gap-[20px] top-[50%] translate-y-[-50%] z-0"
        >
          <div class="flex items-start flex-col gap-[8px]">
            <img src="girl.png" alt="" class="w-[70px]" />
            <span class="text-[12px] font-semibold">Sarah Thompson</span>
            <span class="text-[10px] text-[#B8B8B8]">Microsoft Employee</span>
            <img src="stars.svg" class="w-[68px]" />
          </div>
          <div
            class="relative w-[355px] h-[152px] bg-[#f4f4f4] flex items-center justify-center px-[50px]"
          >
            <p class="text-[9px] font-medium">
              Grâce à cette plateforme, la gestion de mes finances est devenue
              incroyablement simple ! J'ai une vision claire de tous mes
              comptes, et les outils d'analyse m'aident à mieux planifier mes
              dépenses. Je recommande vivement à quiconque cherche à optimiser
              ses finances !
            </p>
            <img
              src="polygon.svg"
              alt=""
              srcset=""
              class="absolute top-0 left-[-30px] w-[36px] h-[36px]"
            />
          </div>
        </div>
        <div
          class="flex items-start bg-[white] blur-[4.81px] w-[575px] h-[213px] border-[1px] border-[#FF1D9950] rounded-[10px] p-[40px] absolute right-[-500px] gap-[20px] top-[50%] translate-y-[-50%] z-0"
        >
          <div class="flex items-start flex-col gap-[8px]">
            <img src="girl.png" alt="" class="w-[70px]" />
            <span class="text-[12px] font-semibold">Sarah Thompson</span>
            <span class="text-[10px] text-[#B8B8B8]">Microsoft Employee</span>
            <img src="stars.svg" class="w-[68px]" />
          </div>
          <div
            class="relative w-[355px] h-[152px] bg-[#f4f4f4] flex items-center justify-center px-[50px]"
          >
            <p class="text-[9px] font-medium">
              Grâce à cette plateforme, la gestion de mes finances est devenue
              incroyablement simple ! J'ai une vision claire de tous mes
              comptes, et les outils d'analyse m'aident à mieux planifier mes
              dépenses. Je recommande vivement à quiconque cherche à optimiser
              ses finances !
            </p>
            <img
              src="polygon.svg"
              alt=""
              srcset=""
              class="absolute top-0 left-[-30px] w-[36px] h-[36px]"
            />
          </div>
        </div>
      </div>
      <div class="flex items-center gap-[22px]">
        <div class="w-[24px] h-[24px] bg-[#ff1d99] rounded-[25px]"></div>
        <div class="w-[24px] h-[24px] bg-[#D9D9D9] rounded-[25px]"></div>
        <div class="w-[24px] h-[24px] bg-[#D9D9D9] rounded-[25px]"></div>
      </div>
    </div>
  </div>
</section>
