section {
  transform: translateY(-200px);
  position: relative;
  z-index: 10;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 42px;
}

.title {
  font-size: 58px;
  text-align: center;
  font-weight: 600;
}

.description {
  text-align: center;
  font-size: 23px;
  font-weight: 600;
  padding: 0;
  margin: 0;
  max-width: 1075px;
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 28px;
  }
  .description {
    font-size: 18px;
  }

  .content {
    gap: 14px;
    margin-top: 100px;
  }

  section {
    display: none !important;
  }
}

@media screen and (max-width: 452px) {
  .title {
    font-size: 24px;
  }
  .description {
    font-size: 14px;
  }

  .content {
    gap: 14px;
    margin-top: 100px;
  }
}
