<header>
  <div class="fluid-container">
    <div class="content">
      <div class="logo">
        <img src="logo.svg" alt="" srcset="" />
        ThrowJar
      </div>
      <ul class="list">
        <li class="item">Home</li>
        <li class="item flex">
          Caractéristiques <img src="shavron.svg" alt="" />
        </li>
        <li class="item">Tarification</li>
        <li class="item">Blog</li>
        <li class="item">Contact</li>
      </ul>
      <div class="buttons">
        <button class="btn-login">login</button>
        <button class="btn-register">get started</button>
      </div>
    </div>
  </div>
</header>
