<section>
  <div class="fluid-container">
    <div class="content">
      <span class="title">
        La banque sans effort <br />
        Gestion des détails, <span>à tout moment</span>
      </span>
      <p class="description">
        Gérer les détails et les paniers bancaires grâce à une plateforme
        tout-en-un conçue pour une collaboration transparente
      </p>
      <div class="buttons">
        <button class="btn-demo">Request a Demo</button>
        <button class="btn-Contact">Contact Sales</button>
      </div>
    </div>
    <img src="shape.svg" alt="" class="shape" />
    <div class="image">
      <img src="app.png" alt="" />
      <div class="blur-layer"></div>
    </div>
  </div>
</section>
